bcrypt==3.2.0
boto3==1.22.4
botocore==1.25.4
cffi==1.15.0
cryptography==37.0.1
jmespath==1.0.0
paramiko==2.10.4
pycparser==2.21
PyNaCl==1.5.0
python-dateutil==2.8.2
s3transfer==0.5.2
six==1.16.0
urllib3==1.26.9
